@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kablammo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ol, li, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  width: 100%;
  background-color: #fff;
}
#header .inner {
  width: 1180px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}
#header .inner h1 {
  position: absolute;
  left: 18%;
  bottom: 50px;
  font-size: 80px;
  color: yellowgreen;
  font-family: "Barriecito", cursive;
  margin-bottom: 40px;
}
#header .inner .menu {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
}
#header .inner .menu #main {
  width: 100%;
}
#header .inner .menu #main li {
  float: left;
  text-align: center;
}
#header .inner .menu #main li a {
  font: bold 20px/1 "arial";
  color: #444;
  display: block;
  padding: 14px 20px;
  font: bold 18px/1 "arial";
  color: #000;
}
#header .inner .menu #main li:hover {
  background-color: burlywood;
  color: #000;
}
#header .inner .cctvCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 50px;
  height: 50px;
}
#header .inner .cctvCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .cctvCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .cctvCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  transition: 1s;
  text-indent: -9999px;
}
#header .inner .cctvCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .inner .cctvCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .inner .cctvCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: tomato;
  position: fixed;
  top: 0;
  left: -270px;
  padding: 35px 30px;
  z-index: 10;
  transition: 0.5s;
}
#header .inner .menuMo.on {
  left: 0;
}
#header .inner .menuMo h1 {
  padding-bottom: 30px;
  border-bottom: 1px solid #666;
}
#header .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "arial";
  color: #fff;
  text-align: center;
}
#header .inner .menuMo h1 span {
  font-size: 12px;
  color: #aaa;
}
#header .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "arial";
  text-align: center;
  color: #888;
}

@media screen and (max-width: 1180px) {
  #header .inner {
    width: 100%;
    height: 300px;
  }
  #header .inner h1 {
    bottom: 150px;
    font-size: 20px;
    text-align: center;
    color: #000;
  }
  #header .inner .menu {
    display: none;
    overflow: hidden;
  }
  #header .inner .cctvCall {
    display: block;
  }
}
@media screen and (max-width: 393px) {
  #header .inner {
    width: 100%;
    height: 150px;
  }
  #header .inner h1 {
    bottom: 150px;
    font-size: 20px;
    text-align: center;
    color: #000;
  }
  #header .inner .menu {
    display: none;
    overflow: hidden;
  }
  #header .inner .cctvCall {
    display: block;
  }
}
#figure {
  width: 100%;
  height: 80%;
  overflow: hidden;
  background-color: #555;
  margin-right: 200px;
}
#figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  border-radius: 50px;
}
#figure .inner {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#figure .inner h2 {
  font: bold 60px/1 "arial";
  font-family: "Barriecito", cursive;
  color: aquamarine;
  margin-bottom: 50px;
  display: block;
  opacity: 0.7;
  margin-left: 50px;
}
#figure .inner p {
  font: 25px/1 "arial";
  color: #fff;
  margin-bottom: 30px;
  font-family: "Tilt Prism", cursive;
  margin-left: 30px;
}
#figure .inner a {
  display: block;
  width: 400px;
  height: 30px;
  border: 1px solid #bbb;
  text-align: center;
  font: bold 11px/30px "arial";
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#figure .inner a:hover {
  background-color: #fff;
  color: #555;
}

@media screen and (max-width: 1180px) {
  #figure {
    background: linear-gradient(120deg, blue, red);
    width: 100%;
    height: 80vh;
  }
  #figure .inner {
    width: 100%;
    padding: 0px 20px;
  }
  #figure .inner h2 {
    font-size: 9px;
    font-family: "Barriecito", cursive;
    color: chartreuse;
    margin-top: 200px;
  }
  #figure .inner a {
    display: fixed;
    width: 100%;
    height: 20px;
    border: 1px solid #bbb;
    text-align: center;
    color: #fff;
  }
}
@media screen and (max-width: 393px) {
  #figure {
    background: linear-gradient(120deg, blue, red);
    width: 100%;
    height: 80vh;
  }
  #figure .inner {
    width: 100%;
    padding: 0px 10px;
  }
  #figure .inner h2 {
    font: normal 10vw/1 "arial";
    font-size: 10px;
    font-family: "Barriecito", cursive;
    color: chartreuse;
    margin-top: 100px;
  }
  #figure .inner a {
    display: block;
    width: 100%;
    height: 20px;
    border: 1px solid #bbb;
    text-align: center;
    font: 10px;
    color: #fff;
  }
}
#footer {
  width: 100%;
  padding: 100px 0;
  background-color: #fff;
}
#footer .newslatter_form {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
#footer .ente {
  color: #000;
  border: inherit;
  padding: 0 30px;
  height: 66px;
  width: 100%;
  font-size: 17px;
}
#footer .subs_btn {
  max-width: 289px;
  display: inline-block;
  background: #151515;
  height: 66px;
  width: 100%;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  transition: ease-in all 0.5s;
}
#footer .subs_btn:hover {
  background: #fff;
  color: #151515;
  transition: ease-in all 0.5s;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/"arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #aaa;
}
#footer .inner address {
  float: left;
  width: 100%;
  font: 14px/1.3 "arial";
  color: #bbb;
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: 1px solid #888;
  padding-top: 20px;
}
#footer .inner p {
  float: left;
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
}

@media screen and (max-width: 1180px) {
  #footer .inner {
    width: 100%;
    margin: 0 auto;
  }
  #footer .inner::after {
    content: "";
    display: block;
    clear: both;
  }
  #footer .inner h1 {
    font: bold 12px/"arial";
    color: #666;
    float: left;
    text-align: center;
  }
}
@media screen and (max-width: 393px) {
  #footer .inner {
    width: 100%;
    margin: 0 auto;
  }
  #footer .inner::after {
    content: "";
    display: block;
    clear: both;
  }
  #footer .inner h1 {
    font: bold 5px/"arial";
    color: #666;
    float: left;
    text-align: center;
  }
}
.charge {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
  margin: 0 auto;
}

#visual {
  width: 100%;
  height: 110vh;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}
#visual .panel {
  position: absolute;
  width: 100%;
  height: 100%;
}
#visual .panel li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 4s;
}
#visual .panel li.on {
  opacity: 1;
  z-index: 2;
}
#visual .panel li:nth-of-type(1) img {
  height: 100%;
  width: 100%;
}
#visual .panel li:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}
#visual .panel li:nth-of-type(3) img {
  height: 100%;
  width: 100%;
}
#visual .panel li:nth-of-type(4) img {
  height: 100%;
  width: 100%;
}
#visual .btns {
  position: absolute;
  left: 10vw;
  top: 30vh;
  display: flex;
  gap: 10px;
  z-index: 3;
}
#visual .btns li {
  width: 70px;
  height: 5px;
  transition: 0.5s;
  cursor: pointer;
}
#visual .btns li.on {
  width: 150px;
}

@media screen and (max-width: 1180px) {
  #visual {
    width: 100%;
    height: 600px;
  }
}
@media screen and (max-width: 393px) {
  #visual {
    width: 100%;
    height: 600px;
  }
}
#news {
  width: 100%;
  background-color: #fff;
  padding-top: 100px;
}
#news .inner {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#news .inner h1 {
  font-size: 100px;
  color: orangered;
  text-align: center;
  font-family: "Barriecito", cursive;
  padding-bottom: 100px;
}
#news .inner .wrap {
  width: 100%;
}
#news .inner .wrap article {
  width: 280px;
  float: left;
  margin-right: 20px;
}
#news .inner .wrap article:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 1180px) {
  #news {
    width: 100%;
    height: 30vh;
  }
  #news .inner h1 {
    left: 50px;
    bottom: 150px;
    font-size: 50px;
    text-align: center;
    color: aquamarine;
  }
}
@media screen and (max-width: 393px) {
  #news {
    width: 100%;
    height: 10vh;
  }
  #news .inner h1 {
    left: 17px;
    bottom: 50px;
    font-size: 17px;
    text-align: center;
    color: aquamarine;
  }
}
#metro nav {
  width: 100%;
  padding: 20px 10vw;
  display: flex;
  gap: 40px;
  background-color: rgb(250, 240, 230);
}
#metro nav a {
  font: 20px/1 "arial";
  color: #999;
  display: flex;
  text-align: center;
  justify-content: center;
}
#metro nav a.on {
  color: #000;
  font-family: "Kablammo", cursive;
}
#metro section {
  display: none;
  padding: 5px;
  background-color: #fff;
}
#metro section.on {
  display: block;
}
#metro section::after {
  content: "";
  display: block;
  clear: both;
}
#metro section article {
  width: 25%;
  height: 25vw;
  float: left;
  padding: 30px;
}
#metro section article .inner {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s;
}
#metro section.active article .inner {
  opacity: 1;
  transform: scale(1);
}
#metro section#News article .inner img {
  width: 90%;
  height: 90%;
  box-shadow: 20px 20px 15px;
  object-fit: cover;
  transition: all 1s;
}
#metro section#News article .inner img:hover {
  transform: scale(0.9);
}
#metro section#News article .inner h2 {
  font: 40px "bold";
  font-family: "Permanent Marker", cursive;
  color: goldenrod;
}
#metro section#News article .inner i {
  font-size: 300px;
  color: rgb(121, 21, 91);
}
#metro section#News article:nth-of-type(1), #metro section#News article:nth-of-type(4), #metro section#News article:nth-of-type(9) {
  width: 50%;
}
#metro section#News2 article .inner img {
  width: 90%;
  height: 90%;
  box-shadow: 20px 20px 15px;
  margin: 0 auto;
  object-fit: cover;
  transition: all 1s;
}
#metro section#News2 article .inner img:hover {
  transform: scale(0.9);
}
#metro section#News2 article .inner h2 {
  font: 40px "bold";
  font-family: "Permanent Marker", cursive;
  color: goldenrod;
}
#metro section#News2 article .inner .rightleft {
  width: 100%;
  height: 80%;
}
#metro section#News2 article .inner .rightleft:hover {
  transform: scale(1.2);
}
#metro section#News2 article .inner .quiz {
  font: 50px;
}
#metro section#News2 article:nth-of-type(3), #metro section#News2 article:nth-of-type(9) {
  width: 50%;
}
#metro section#News3 article .inner img {
  width: 100%;
  height: 100%;
  box-shadow: 20px 20px 15px;
  object-fit: cover;
  transition: all 0.5s;
}
#metro section#News3 article .inner img:hover {
  transform: scale(0.9);
}
#metro section#News3 article .inner h2 {
  font: 40px "bold";
  font-family: "Permanent Marker", cursive;
  color: goldenrod;
}
#metro section#News3 article .inner p {
  font-size: 20px;
}
#metro section#News3 article:nth-of-type(2), #metro section#News3 article:nth-of-type(8) {
  width: 50%;
}

@media screen and (max-width: 1180px) {
  #metro nav {
    width: 100%;
    gap: 0;
  }
  #metro nav a {
    font: 20px/1 "arial";
    color: #999;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  #metro nav a.on {
    color: #000;
    font-family: "Kablammo", cursive;
  }
  #metro nav h1 {
    left: 50px;
    bottom: 150px;
    font-size: 40px;
    text-align: center;
    color: red;
  }
  #metro nav .menu {
    display: none;
    overflow: hidden;
  }
  #metro nav .btnCall {
    display: block;
  }
  section {
    background-color: red;
    height: 1000px;
  }
  section#News article img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  section#News article p {
    display: none;
  }
  section#News article h2 {
    display: none;
  }
  section#News article i {
    display: none;
  }
  section#News2 {
    height: 20vh;
  }
  section#News2 article img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section#News2 article p {
    display: none;
  }
  section#News2 article h2 {
    display: none;
  }
  section#News2 article i {
    display: none;
  }
  section#News3 {
    height: 20vh;
  }
  section#News3 article img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section#News3 article p {
    display: none;
  }
  section#News3 article h2 {
    display: none;
  }
  section#News3 article i {
    display: none;
  }
}
@media screen and (max-width: 393px) {
  #metro nav {
    width: 100%;
  }
  #metro nav a {
    font: 10px/1 "arial";
    color: #999;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  #metro nav a.on {
    color: #000;
    font-family: "Kablammo", cursive;
  }
  #metro nav h1 {
    left: 50px;
    bottom: 150px;
    font-size: 20px;
    text-align: center;
    color: red;
  }
  #metro nav .menu {
    display: none;
    overflow: hidden;
  }
  #metro nav .btnCall {
    display: block;
  }
  section {
    background-color: red;
    height: 1000px;
  }
  section#News article img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  section#News article p {
    display: none;
  }
  section#News article h2 {
    display: none;
  }
  section#News article i {
    display: none;
  }
  section#News2 {
    height: 20vh;
  }
  section#News2 article img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section#News2 article p {
    display: none;
  }
  section#News2 article h2 {
    display: none;
  }
  section#News2 article i {
    display: none;
  }
  section#News3 {
    height: 20vh;
  }
  section#News3 article img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section#News3 article p {
    display: none;
  }
  section#News3 article h2 {
    display: none;
  }
  section#News3 article i {
    display: none;
  }
}
#contain {
  width: 100%;
  background-color: #f5f8ff;
  padding: 30px 30px;
}
#contain .container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#contain .container h1 {
  color: #333;
  font-size: 70px;
  text-align: center;
  font-family: "Barriecito", cursive;
}
#contain .container .tab {
  position: relative;
  background-color: #fff;
  margin-top: 60px;
  padding: 0 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
}
#contain .container .tab:nth-of-type(1) label h2 {
  background: linear-gradient(135deg, #c94949, #93a857);
}
#contain .container .tab:nth-of-type(2) label h2 {
  background: linear-gradient(135deg, #dfa21f, #b8d46a);
}
#contain .container .tab:nth-of-type(3) label h2 {
  background: linear-gradient(135deg, #6b64d1, #1b29e9);
}
#contain .container .tab:nth-of-type(4) label h2 {
  background: linear-gradient(135deg, #8a1e50, #4d344e);
}
#contain .container .tab input[type=radio] {
  appearance: none;
}
#contain .container .tab input[type=radio]:checked + label::after {
  transform: rotate(135deg);
  color: #000;
}
#contain .container .tab input[type=radio]:checked ~ .content {
  max-height: 100vh;
}
#contain .container .tab input[type=radio]:checked ~ label h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  padding: 20px;
  font-size: 100px;
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.2);
}
#contain .container .tab input[type=radio]:checked ~ label h3 {
  background-color: #fff;
  padding: 2px 10px;
  border-radius: 2px;
  color: #333;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
#contain .container .tab label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#contain .container .tab label h2 {
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 5px;
  margin-right: 10px;
}
#contain .container .tab label h3 {
  position: relative;
  font-weight: 500;
  color: #333;
  z-index: 10;
}
#contain .container .tab label::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 32px;
  transition: 1s;
  color: rgba(0, 0, 0, 0.2);
}
#contain .container .tab .content {
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}
#contain .container .tab .content p {
  padding: 10px 0;
  position: relative;
  z-index: 10;
  color: #fff;
}

@media screen and (max-width: 1180px) {
  #contain {
    width: 100%;
    height: 100vh;
    background-color: #fff;
  }
  #contain .container h1 {
    font-size: 30px;
    text-align: center;
    color: royalblue;
  }
}
@media screen and (max-width: 393px) {
  #contain {
    width: 100%;
    height: 100vh;
    background-color: #fff;
  }
  #contain .container h1 {
    font-size: 10px;
    text-align: center;
    color: royalblue;
  }
}
#banner {
  width: 100%;
  padding: 150px 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #fff;
}
#banner .inner {
  width: 1180px;
  margin: 0 auto;
}
#banner .inner h2 {
  font: bold 30px/1 "arial";
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
#banner .inner p {
  font: 16px/1.3 "arial";
  color: #bbb;
  text-align: center;
}

@media screen and (max-width: 1180px) {
  #banner {
    padding: 150px 30px;
    height: 50vh;
    width: 100%;
  }
  #banner .inner {
    width: 100%;
  }
  #banner .inner h2 {
    color: #000;
  }
}
@media screen and (max-width: 393px) {
  #banner {
    padding: 50px 10px;
    height: 20vh;
    width: 100%;
  }
  #banner .inner {
    width: 100%;
  }
  #banner .inner h2 {
    color: #000;
  }
}
#contact {
  position: relative;
  background-color: #fff;
  padding-top: 50px;
}
#contact .heading_container {
  justify-content: center;
}
#contact .heading_container h2 {
  text-transform: unset;
}
#contact .heading_container h2 span {
  font-size: 100px;
  font-family: "Barriecito", cursive;
  display: flex;
  justify-content: center;
  text-align: center;
  color: yellowgreen;
}

#contact input::placeholder {
  color: #000;
  padding-left: 50px;
}

#contact input {
  border: none;
  outline: none;
  border-bottom: 0.8px solid #ac9784;
  width: 50%;
  margin: 10px 0px;
  margin-left: 480px;
  padding-bottom: 10px;
}
#contact input::placeholder {
  color: #ac9784;
}

#contact_form-container {
  padding: 15px 0 15px 0;
}
#contact_form-container div input {
  font-style: red;
}

#contact_form-container button {
  border: none;
  background-color: #fd9e2e;
  color: #fff;
  padding: 14px 55px;
  margin-left: 480px;
  font-size: 14px;
  text-transform: uppercase;
}

.map_container {
  height: 350px;
}
.map_container .map-responsive {
  height: 100%;
  width: 50%;
  display: block;
  margin: auto;
  border-style: 14px #000;
}

@media screen and (max-width: 1180px) {
  #contact {
    background-color: antiquewhite;
    padding-top: 20px;
    width: 100%;
    height: 60vh;
  }
  #contact .heading_container h2 span {
    font-size: 50px;
  }
  #contact .newslatter_form {
    width: 100%;
    margin-left: 50px;
  }
  #contact input::placeholder {
    color: #000;
    padding-left: 20px;
    overflow: hidden;
  }
  #contact input {
    border: none;
    outline: none;
    border-bottom: 0.8px solid #ac9784;
    width: 50%;
    margin: 10px 0px;
    margin-left: 100px;
    padding-bottom: 10px;
  }
  #contact input::placeholder {
    color: #ac9784;
  }
  #contact_form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    opacity: 0;
  }
  #contact_form-container button {
    border: none;
    background-color: #fd9e2e;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
  }
  .map_container {
    height: 25vh;
  }
  .map_container .map-responsive {
    height: 100%;
    width: 50%;
    display: block;
    margin: auto;
    border-style: 14px #000;
  }
}
@media screen and (max-width: 393px) {
  #contact {
    background-color: #333;
    padding-top: 20px;
    width: 100%;
  }
  #contact .heading_container h2 span {
    font-size: 25px;
  }
  #contact .newslatter_form {
    width: 100%;
    margin-left: 50px;
  }
}
#contact input::placeholder {
  color: #000;
  padding-left: 5px;
  overflow: hidden;
}

#contact input {
  border: none;
  outline: none;
  border-bottom: 0.8px solid #ac9784;
  width: 50%;
  margin: 10px 0px;
  margin-left: 480px;
  padding-bottom: 10px;
  overflow: hidden;
}
#contact input::placeholder {
  color: #ac9784;
}
#contact input #contact_form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  opacity: 0;
}

.Information {
  width: 100%;
  height: 100vw;
}
.Information .inner h1 {
  font-size: 300%;
  font-weight: normal;
  margin: 0px;
  text-align: left;
  margin-left: 20vh;
  font-family: "Oswald", sans-serif;
}
.Information .section {
  width: 80%;
  border-top: 1px solid #777;
  padding: 20px 0;
  margin: auto;
}
.Information .section .pageitem {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 15px;
  text-align: justify;
}
.Information .section .pageitem .jog {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Information .section .pageitem .jog video {
  width: 40%;
  opacity: 0.8;
  border-radius: 30%;
  box-shadow: 10px 15px 15px #000;
}
.Information .section .pageitem h2 {
  font-size: 180%;
  background-color: inherit;
  color: #444;
  margin-top: 0;
}
.Information .section .pageitem p {
  padding: 0;
  margin: 1em 0;
  font-size: 115%;
}
.Information .section .pageitem a {
  text-decoration: underline;
}
.Information .section .pageitem .col {
  padding: 0 2% 0 1%;
  display: table-cell;
}
.Information .section .pageitem .col img {
  width: 39%;
  height: 30%;
  position: absolute;
  margin-right: 300px;
  box-shadow: 10px 10px 15px #000;
  opacity: 0.8;
}

.charge {
  width: 100%;
  height: 400vh;
  background-color: #fff;
}
.charge h1 {
  font-size: 50px;
  color: #000;
  font-family: "Oswald", sans-serif;
  margin-left: 50px;
}
.charge .wrap {
  margin-top: 30px;
}
.charge .wrap > div {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.charge .wrap #box1 {
  height: 1300px;
  background: linear-gradient(135deg, #000, aqua);
}
.charge .wrap #box1 .set1 {
  width: 1200px;
  height: 1200px;
  background-color: #aaa;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -600px;
  margin-left: -600px;
  transform: rotate(45deg);
  border-radius: 50%;
}
.charge .wrap #box1 .set1 img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  border-radius: 50%;
}
.charge .wrap #box2 {
  height: 2000px;
  background: linear-gradient(250deg, #fff, yellow);
}
.charge .wrap #box2 .txt2 {
  font: bold 100px/1 "arial";
  color: #000;
  position: fixed;
  left: 100px;
  top: 30%;
  opacity: 0;
}
.charge .wrap #box2 .txt2 p {
  color: #000;
  font: bold 30px/1 "arial";
  margin-left: 10px;
}
.charge .wrap #box2 .txt2 img {
  width: 50%;
  margin-left: 100vh;
  opacity: 0.7;
  border-radius: 50%;
}
.charge .wrap #box2 .set2 {
  width: 0px;
  height: 2px;
  background-color: #000;
  position: fixed;
  top: 50%;
  left: 100px;
}
.charge .wrap #box3 {
  height: 1500px;
  background: linear-gradient(135deg, #c94949, #93a857);
}
.charge .wrap #box3 .set3 {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  transform: scale(2);
  opacity: 1;
  border-radius: 50%;
}
.charge .wrap #box3 .set3 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.8;
}
.charge .wrap #box3 .set3 .txt3 {
  font: bold 120px/1 "arial";
  color: yellow;
  position: relative;
  left: 100px;
  top: 5%;
  font-family: "Oswald", sans-serif;
}
.charge #navi {
  position: fixed;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
}
.charge #navi li {
  width: 30px;
  height: 30px;
  background-color: #fff;
  margin-bottom: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.charge #navi li.on {
  width: 30px;
  height: 30px;
  background-color: springgreen;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 1180px) {
  .charge {
    width: 100%;
    height: 300vh;
    background-color: #fff;
  }
  .charge h1 {
    font-size: 30px;
    color: #000;
    font-family: "Oswald", sans-serif;
    margin-left: 50px;
  }
  .charge .wrap {
    margin-top: 30px;
  }
  .charge .wrap > div {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .charge .wrap #box2 {
    height: 2000px;
    background: linear-gradient(250deg, #fff, yellow);
  }
  .charge .wrap #box2 .txt2 {
    font: bold 50px/1 "arial";
    color: #000;
    position: fixed;
    opacity: 0;
    float: left;
    overflow: hidden;
    display: none;
  }
  .charge .wrap #box2 .txt2 p {
    color: #000;
    font: bold 30px/1 "arial";
    margin-left: 10px;
    overflow: hidden;
    display: none;
  }
  .charge .wrap #box2 .txt2 img {
    width: 50%;
    margin-left: 100vh;
    opacity: 0.7;
    border-radius: 50%;
  }
  .charge .wrap #box2 .set2 {
    width: 0px;
    height: 2px;
    background-color: #000;
    position: fixed;
    top: 50%;
    left: 100px;
    display: none;
  }
  .charge .wrap #box3 {
    height: 1500px;
    background: linear-gradient(135deg, #c94949, #93a857);
  }
  .charge .wrap #box3 .set3 {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    transform: scale(2);
    opacity: 1;
    border-radius: 50%;
    display: none;
  }
  .charge .wrap #box3 .set3 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.8;
    display: none;
  }
  .charge .wrap #box3 .set3 .txt3 {
    font: bold 120px/1 "arial";
    color: yellow;
    position: relative;
    left: 100px;
    top: 5%;
    font-family: "Oswald", sans-serif;
    display: none;
  }
}
h4 {
  font-size: 60px;
  color: red;
  margin-left: 100px;
}

.youtube {
  position: relative;
  height: 900px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube iframe {
  width: 80%;
  height: 100%;
  position: absolute;
  margin-top: 20px;
  opacity: 0.8;
  border-radius: 20px;
}

body {
  width: 100%;
}
body .joinup {
  width: 100%;
  align-items: center;
}

input {
  border: 1px solid black;
  border-radius: 3px;
  line-height: 35px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper {
  padding: 10px;
}
.wrapper div {
  padding-top: 3px;
  padding-bottom: 8px;
}
.wrapper .title {
  text-align: center;
  font-weight: 700;
}

.email input {
  width: 100%;
  text-align: center;
}

.name input {
  width: 100%;
  text-align: center;
}

.password input {
  width: 100%;
  text-align: center;
}

.passwordCheck input {
  width: 100%;
  text-align: center;
}

.phone {
  display: flex;
  justify-content: space-between;
}

#phone1 {
  width: 30%;
}

#phone2 {
  width: 30%;
}

#phone3 {
  width: 30%;
}

.area select {
  width: 100%;
  height: 40px;
}

.gender {
  text-align: center;
}

.signUp button {
  width: 100%;
  cursor: pointer;
}

button {
  cursor: pointer;
  height: 30px;
}
button:hover {
  background-color: aquamarine;
  color: red;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
